<!-- src/main/resources/templates/common/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Navbar Fragment</title>

</head>

<body>
	<div th:fragment="header">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">School Management</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/admin/}">Dashboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" th:href="@{/admin/users}">Users</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/admin/students}">Students</a>
						</li>
					</ul>
					<!-- Logout Button aligned to the right -->
					<form action="#" th:action="@{/logout}" method="post" style="margin-left: auto;">
						<button type="submit" class="btn btn-outline-danger">Logout</button>
					</form>
				</div>
			</div>
		</nav>

	</div>

</body>

</html>